html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 1px;

}

/* html,
body {
  padding: 0%;
  margin: 0px;
  border: 0;
  background-color: violet;
} */
.container{
  scroll-snap-type:y mandatory;
  /* overflow-y: scroll; */
  /* height: 100vh; */
}



/* ------------------------- NavBar---------------- */
#navbar {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: rgba(5, 5, 4, 0.801);
}

.nav-list {
  display: inline;
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: coral;
}

/* ------------------home section----------------------------------------- */
#opening-page {
  height: 100vh;
  /* background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(./src/home-img.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
  color: white;
  text-align: center;
  padding: 0%;
  margin: 0%;
  
  justify-content: center;
  /* font-weight: bolder; */

  overflow:auto;

}

.wel-page-heading{
  font-size: 1.5rem;
}
.wel-page-para{
  font-size: 1rem;
}

.wel-page-info{
  font-size: 1rem;
  position: absolute;
  bottom: 50px;
  right: 80px;
  left: 80px;
  align-items: center;
  text-align: center;
  margin: 0% 0% 0% 0% important!;
  justify-content: center;
}


/* -------------------------------------------------------- */
/* #our-work-page {
  height: 100vh;
  background-color: cadetblue;
  text-align: center;
  padding: 0%;
  margin: 0%;
  scroll-snap-align:start ;
} */
/* -----------------contribution page------------------------------- */
#ur-contri {
  height: 100vh;
  /* background-image: url(https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80); */
  background-color: rgb(245, 131, 49);
  text-align: center;
  padding: 0%;
  /* overflow:auto; */
  
}

.contri-img{
  
  box-shadow: black 4px 4px 8px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 10vh;
  height: 10vh;
  }
  
  


/* --------------------about-us-page---------------------------------- */

#about-page {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1453&q=80);
  background-color: rgb(84, 245, 245);
  text-align: center;
  color: aliceblue;
  
}

.profile-img{
  border-radius: 50%;
  /* padding-top: 30px; */
  box-shadow: white 4px 4px 8px;
}

.img-tag{
  padding-top: 50px;
  margin:30px 0px 0px 0px;

}

/* --------------Contact us form css---------------------- */
#contact-page {
  height: 89vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-bottom: 2em;
}

/* #contact {
  background-color: var(--light-gray);
} */

#form {
  padding: 0px 20px;
}

#name,
#email,
#message {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid rgb(37, 190, 241);
  resize: none;
}

#form input:focus,
#message:focus {
  outline: none;
  border-bottom: 1px solid rgb(252, 252, 178);
}

::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-size: 1.15em;
}

#submit {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1rem;
  background: rgb(24, 187, 241);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

#submit:hover {
  background: rgb(253, 253, 148);
  transition: 0.3s;
}
#contact-hr {
  display: block;
  height: 2px;
  width: 3rem;
  margin: 1.5em auto 1em;
  padding: 0;
  border: 0;
  background-color: rgb(126, 214, 243);
}

/* ------------------------------------------- */
/*---------------- footer style ---------*/

footer {
  width: 100%;
  position: static;
  color: white;
  background-color: rgb(47, 46, 46);
  text-align: center;
  /* margin-top: 6px;
  margin-bottom: 6px; */
  padding-top: 1px;
  padding-bottom: 1px;
  bottom: 0px;
  font-family: "Gotu", sans-serif;
}


/* .example::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent; 
}